<div id='container'>
     <label>Your orders:</label>
     {{#movie}}
         <div class="cart-item">
             <div class="left">
                 <img class="w-50 h-60" src="{{_imgURL}}" alt="movie cover">
             </div>
             <div class="right">
                 <div class="title">
                     <a href="#movies/{{_id}}">
                         {{_title}}
                     </a>
                 </div>
                 <div class="quantity">1 x ${{_price}}</div>
             </div>
         </div>
     {{/movie}}
     <div class="totals">
         <span><span class="label">Total amount:</span> ${{amount}}</span>
         <a id="cart-buy-all" href="/#cart" class="btn btn-red">Show</a>
     </div>
</div>